/*************** nav ***********/


.menu{
    background-color: rgb(152, 202, 255);
    margin: 0;
 
 }
 
 .menu-opciones{
     display: flex;
     margin: 0;
     justify-content: flex-start;
     list-style-type: none;     
     padding: 0;
 }
 
 .menu-opciones a{
     text-decoration: none;
 }
 .opciones{
     text-decoration: none;
     padding: 10px 25px;
     list-style: none;
     background-color: rgb(60, 144, 254);
     margin:0 1px 0 0;
     color: rgb(255, 253, 255);
     font-family: "Roboto", sans-serif;
     font-weight: 600;
     border-radius: 5px 5px 0 0;
     cursor: pointer;
     
 }
 
 
 .opciones:hover{
     background-color: rgb(255, 253, 255);
     color: rgb(60, 144, 254);
 }
 
 @media (max-width: 760px) {
    
    
    .menu-opciones{
        flex-direction: column;
        text-align: center;
    }

    .header-busqueda, .header-admin{
        justify-content: center;
        margin: 5px auto;
        width: 100%;
    }
    
    .header-carrito-total, .header-usuario{
        width: 80%;
        margin: 5px auto;
    }
    .main-titulo h2{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    



}