<app-header></app-header>
<app-nav></app-nav>
<STYLE>A {text-decoration: none; color: #000;} </STYLE>

<div class="titulo">
    <h2>Secciones disponibles en MiMercado</h2>
</div>
<div class="contenedor">
    <a routerLink="/aseo"> <div class="card" id="n1" >
         <img src="/assets/imagenes/img_secciones/aseo.jpeg" alt=""> 
        <h4>Aseo para el hogar</h4>
    </div></a>
    <a routerLink="/licores"><div class="card" id="n2">
       <img src="/assets/imagenes/img_secciones/licores.jpeg" alt="">
        <h4>Licores</h4>
    </div></a>
    <div class="card" id="n3">
     <a routerLink="/abarrotes"><img src="/assets/imagenes/img_secciones/abarrotes.jpeg" alt=""></a>   
        <h4>Abarrotes</h4>
    </div>
    <div class="card" id="n4">
        <a routerLink="/aseoP"><img src="/assets/imagenes/img_secciones/aseo personal.jpeg" alt=""></a> 
        <h4>Aseo personal</h4>
        
    </div>
    <div class="card" id="n5">
        <a routerLink="/farmacia"><img src="/assets/imagenes/img_secciones/farmacia.jpeg" alt=""></a>
        <h4>Farmacia</h4>
    </div>
</div>
