<!----------------------header-------------------->
<header class="header">
    <div class="header-logo">
        <div class="header-titulo">
           <h1>MIMERCADO</h1>
        </div>
        <div class="imagen">
        </div>
        
    </div>
    <div class="header-busqueda">
        <input type="text" id="busqueda" placeholder="Busca un producto">
        <span class="logo-busqueda">
            <i class="fas fa-search fa-2x"></i>
        </span>
    </div>
    <div class="header-admin">
        <a routerLink="/carrito">
        <div class="header-carrito" >
            <h3 class="header-carrito-total"> Total: $<span id="total-carrito">0</span>  <span> <i class="fas fa-shopping-cart "></i></span></h3> 
        </div>
    </a>

        <div class="header-usuario">
            <h3 class="header-carrito-usuario"> Mi nombre:<span id="nombre-usuario">{{sesionService.getUsuario().nombre}} {{sesionService.getUsuario().apellido}} </span><span><i class="fas fa-user"></i></span></h3> 
        </div>
 
        <a routerLink="/cerrar">
        <div class="header-usuario" >
            <h3 class="header-carrito-usuario"> cerrar sesion</h3> 
        </div>
    </a>
    </div>
</header>
